{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    [
      "es2015",
      {
        "modules": false,
        "loose": false
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    //"transform-runtime",
    "react-hot-loader/babel"
  ]
}